<h1>Name: <%= @contact.first_name %> <%= @contact.last_name %></h1>
<h2>Email: <%= @contact.email %></h2>
<p>Notes: <%= @contact.note %></p>

<a href="/contacts/<%= @contact.id %>/edit">Edit me!</a>
<a href="/contacts/<%= @contact.id %>/are_you_sure">Delete Me :(</a>
